html{ 
    background-color:#95A7B2;
    font-family: cursive;
    font-size: 1.2em; 
    font-feature-settings: Arial, Helvetica, 
}

section {
    color: #fff;
    margin: 50px;
    background: #505C5C;
    border: 5px solid #000;
    padding: 3px;
    height: 500px;
}

.accordion {
    float: left;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    width: 13%;
}

.accordion .ui-accordion-header {
/*    background: #FFFCF9; */
    padding: 3px;
    color: #000;
    border: 1px solid #000;
/*    font align-content: left;*/
}

.accordion .ui-accordion-content {
/*    background: #B2ABA1;*/
    border: 1px solid #000;
    border-top: 0px solid #000;
    height: 150px;
    font-family: cursive;
    font-feature-settings: Arial, Helvetica,
}

.button {
    clear: both;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 25px;
    background-color: #888;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
}

.button:hover {
    background-color: #aaa;
}

.button:active {
    margin-top: 4px;
    margin-left: 4px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

/* Need to clear:both */

p {
/*    clear: both;*/
}

