
.accordion {
    float: left;
    margin: 5px;
    padding: 0px;
    display: inline-block;
    width: 13%;
}

.accordion .ui-accordion-header {
    /*modifies the header of the accordion*/
}

.accordion .ui-accordion-content {
    /*modifies the content of the accordion*/
    height: 130px;
}

.button {
    clear: both;
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 25px;
    background-color: grey;
    color: #fff;
/*    display: inline;*/
}

/* Need to clear:both */
